#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

/* .sign-container {
  position: relative;
  min-height: 92vh;
} */

.title {
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
}

.secondary-title {
  font-size: 1.2rem !important;
  font-weight: 600;
}

.btn-text {
  font-size: 1.1rem;
  padding-left: 4px;
}

.fade-in-effect {
  animation: fade_in_effect 0.5s ease-in-out;
}

@keyframes fade_in_effect {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
